

.container{
  box-shadow: 5px 10px 8px 10px #888888;
  margin:150px 550px 150px 550px;
  font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
background-color:#D3D3D3;
}
h1{
  background-color: #00FFFF;
  color:
}
input{
  border-spacing:3px;
}
button{
  display: inline-block;
        background-color: #7b38d8;
        padding: 2px;
        width: 100px;
        color: #ffffff;
        text-align: center;
        margin:4px 3px;
}